.c-button {
  background-color: #ff9494;
  color: #fff;
  margin-top: 15px;
}

.c-bg {
  background-color: #b8dad9;
}

.c-card {
  padding: 2rem;
}

.padding {
  padding: 15px;
}

.floating-label {
  position: absolute;
  top: -0.5rem;
  left: 1.5rem;
  background-color: white;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #1949e9;
  transition: all 0.2s ease-in-out;
}
